apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.slamApp.name }}-data
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp2
