apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.slamApp.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.slamApp.name }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .Values.slamApp.name }}
